### Clean genres access via API

In [1]:
import pandas as pd

In [4]:
df_genres = pd.read_csv('interm_outputs/book_genres_api.csv')
df_genres.head(5)

,ISBN,Title,Genres
0,1841193429,Looking for Lovedu,"Africa, description and travel, Fiction, general"
1,8877824476,Matilde,Unknown Genre
2,059045174X,The Field Beyond the Outfield,"Children's fiction, Baseball, fiction"
3,1840243503,"Brazil: Life, Blood, Soul","History, Nonfiction, Travel, Description and t..."
4,1884956173,Damn! Why didn't I write that?,"Authorship, Marketing, Authorship, marketing"