### Download images

In [47]:
import os
import requests
from PIL import Image
from io import BytesIO
import pandas as pd

#### Import list of URLs

In [48]:
books = pd.read_csv('interm_outputs/book_genres_clean.csv')
books.head(5)

,ISBN,Title,Genre_category,Genres_list
0,1841193429,Looking for Lovedu,Fiction,"['africa', 'description and travel', 'general'..."
1,059045174X,The Field Beyond the Outfield,Fiction,"['baseball', ""children's fiction"", 'fiction']"
2,1840243503,"Brazil: Life, Blood, Soul",Fiction,"['description and travel', 'historical', 'nonf..."
3,1884956173,Damn! Why didn't I write that?,Other,"['marketing', 'authorship']"
4,067973385X,Exile and the kingdom,Fiction,"['french', 'cuentos franceses', 'translations ..."

Loop arond rows of dataframe

In [49]:
isbn_list = books['ISBN'].tolist()

In [50]:
save_folder = "interm_outputs/book_covers"
os.makedirs(save_folder, exist_ok=True)

failed_isbns = []

# Function to fetch and save images
def fetch_and_save_image(isbn):
    img_path = os.path.join(save_folder, f"{isbn}.jpg")

    # Check if the image already exists
    if os.path.exists(img_path):
        return  # Skip the download if the image exists

    # If the image does not exist, fetch and save it
    url = f"https://covers.openlibrary.org/b/isbn/{isbn}-M.jpg"
    response = requests.get(url, stream=True)
    
    if response.status_code == 200:
        try:
            img = Image.open(BytesIO(response.content))
            # Convert the image to RGB before saving (if it's in P mode)

            img.save(img_path)
            print(f"‚úÖ Saved: {isbn}.jpg")
        except Exception as e:
            print(f"‚ùå Error processing {isbn}: {e}")
            failed_isbns.append(isbn)
    else:
        print(f"üö´ No cover found for {isbn}")

In [51]:
# Loop through ISBNs and download images
for isbn in isbn_list:
    fetch_and_save_image(isbn)

‚ùå Error processing 059045174X: cannot write mode P as JPEG
‚ùå Error processing 2841721175: cannot write mode P as JPEG
‚ùå Error processing 156156849X: cannot write mode P as JPEG
‚ùå Error processing 096156511X: cannot write mode P as JPEG
‚ùå Error processing 1559716746: cannot write mode P as JPEG
‚ùå Error processing 1854712551: cannot write mode P as JPEG
‚ùå Error processing 185549860X: cannot write mode P as JPEG
‚ùå Error processing 349926448X: cannot write mode P as JPEG
‚ùå Error processing 038533494X: cannot write mode P as JPEG
‚ùå Error processing 088001444X: cannot write mode P as JPEG
‚ùå Error processing 039923568X: cannot write mode P as JPEG
‚ùå Error processing 1557484074: cannot write mode P as JPEG
‚ùå Error processing 1569472408: cannot write mode P as JPEG
‚ùå Error processing 8845206475: cannot write mode P as JPEG
‚ùå Error processing 042514609X: cannot write mode P as JPEG
‚ùå Error processing 1570824622: cannot write mode P as JPEG
‚ùå Error processing 3923880642: cannot write mode P as JPEG
‚ùå Error processing 9728423462: cannot write mode P as JPEG
‚ùå Error processing 9280717405: cannot write mode P as JPEG
‚ùå Error processing 8437220491: cannot write mode P as JPEG
‚ùå Error processing 185406066X: cannot write mode P as JPEG
‚ùå Error processing 9500707756: cannot write mode P as JPEG
‚ùå Error processing 8401327350: cannot write mode P as JPEG
‚ùå Error processing 088029275X: cannot write mode P as JPEG
‚ùå Error processing 096293982X: cannot write mode P as JPEG
‚ùå Error processing 8807817462: cannot write mode P as JPEG
‚ùå Error processing 042511659X: cannot write mode P as JPEG
‚ùå Error processing 2720600628: cannot write mode P as JPEG

In [52]:
print(failed_isbns)

['059045174X', '2841721175', '156156849X', '096156511X', '1559716746', '1854712551', '185549860X', '349926448X', '038533494X', '088001444X', '039923568X', '1557484074', '1569472408', '8845206475', '042514609X', '1570824622', '3923880642', '9728423462', '9280717405', '8437220491', '185406066X', '9500707756', '8401327350', '088029275X', '096293982X', '8807817462', '042511659X', '2720600628']