### Baseline model for predicting reccomended book

In [6]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split

### Import dataset, split into train/val/test

In [5]:
df = pd.read_csv('model_data/model_data_wo_extern.csv')

df.head(5)

,User-ID,Age,City,Region/State,Country,Age_Missing,ISBN,Book-Rating,Rating_Categ,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,2,18.0,stockton,california,usa,0,0195153448,0,Not rated,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press
1,7,-1.0,washington,dc,usa,1,034542252,0,Not rated,NaN,NaN,NaN,NaN
2,8,-1.0,timmins,ontario,canada,1,0002005018,5,Avarege (4-5),Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
3,8,-1.0,timmins,ontario,canada,1,0060973129,0,Not rated,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial
4,8,-1.0,timmins,ontario,canada,1,0374157065,0,Not rated,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux

Split into train/test/val

In [13]:
### Split into train, val, test
train_df, temp_df = train_test_split(df, test_size=0.4, random_state=42)  # 80% Train
val_df, test_df = train_test_split(temp_df, test_size=0.5, random_state=42)  # 10% Val, 10% Test

del(temp_df)

print(f"Train samples:\t\t {len(train_df)/1000} k")
print(f"Validation samples:\t {len(val_df)/1000} k")
print(f"Test samples:\t\t {len(test_df)/1000} k")

Train samples:		 689.868 k
Validation samples:	 229.956 k
Test samples:		 229.956 k